.informationArea {
	.card-header {
		background-color: #ddd !important;
	}
	.card-title {
		font-variant: small-caps;
	}
	.card-body {
		a.btn {
			background-color: #ddd !important;
			border: 1px solid #999;
			color: #555;
		}
	}
}
